<div>
		<div class = "container">
			<div class="page-header">
			<h3> Create a Report for Expense Reimbursement </h3>
			</div>
			<div class="row">
				<div class="col-lg-2"></div>
					<form role="form">
						<div class="col-lg-5">
							<div class="well well-sm">
							<div class="form-group">
								<label for="InputReportName"> Enter name of the Report:</label>
								<div class="input-group">
									<input id="reportName" type="text" class="form-control" name="report-name" ng-model="report.reportName" placeholder="Report Name" required>
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
							
							<div class="form-group">
								<div>
									<select ng-model="selectedProject" id="projectDropDown" name="report-project" ng-options="project.projectName for project in ProjectList" 
										class="btn btn-default" aria-haspopup="true" aria-expanded="true" required>
										<option value="">Select a Project</option>
									</select>
								</div>
							</div>
					
							<div>
						        <!--<button type="submit" ng-hide ="reqLineItem()"  name="submit" id="ReportSubmit" ng-click="addLineItems(lineItem)" class="btn btn-success pull-right">Submit</button>-->
								<button type="submit" ng-hide="reportForm.$invalid || reqDropdown()" name="save" id="ReportSave" ng-click="createReport(report, selectedProject, 4)" class="btn btn-info pull-right">Save</button>
								<button name="cancel" id="ReportCancel" class="btn btn-danger pull-right" ui-sref="home">Cancel</button>
							</div>		
						  </div>
						</div>
					</form>
				</div>
		</div>
</div>