#registerBtn, #loginBtn{
	float: right;
}
a{
text-decoration:none;
color:#000000;
}
a #RegisterCancel{
text-decoration:none;
color:#ffffff;
}
a:hover{ text-decoration: none;
color:#000000; }

#reportNotes {
	max-width: 100%;
    width: 100%;
}

.btn {
	margin-left: 10px;
}

body {
	padding:1%;
	margin: 1%;
	margin-bottom: 5%;
}

.validationError {
	color: red;
}

label{
 font-family: "Times New Roman", Times, serif;
}

#savedStatus {
	font-style: italic;
	font-weight: bold;
	margin-left: 15%;
	margin-bottom: 8%;
	color: green;
}

#newLineItem {
	font-size: 165%;
}